html,
body {
    overflow-x: hidden;
    width: 100%;
}

body {
    font-family: var(--font-family-text);
}

a {
    text-decoration: none;
    color: var(--black);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--font-size-title);
    margin-bottom: 20px;
    margin-top: 20px;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 20px;
}

h3 {
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
}