html,
body {
    overflow-x: hidden;
    width: 100%;
}

body {
    font-family: var(--font-family-text);
}

.main-article {
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--background);
}


a {
    text-decoration: none;
    color: var(--black);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--font-size-title);
    padding-bottom: 20px;
    padding-top: 20px;
}

h2 {
    font-size: 36px;
    padding-bottom: 20px;
    padding-top: 20px;
}

h3 {
    font-size: 22px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.section__header--title {
    margin: 0;
}