.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}


.header__end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}

.header__start--logoimg {
    width: 80px;
}

.lang__flag-img {
    width: 13px;
    margin-left: 5px;
}