.autres-projets__flexbox {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px;
    margin: -10px;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.autres-projets__container {
    width: 290px;
    height: 236px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    scroll-snap-align: center;
}

.autres-projets__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: var(--brown);
    color: var(--white);
    width: 290px;
}

.autres-projets__header--left {
    margin-left: 20px;
}

.autres-projets__header--avatar {
    width: 50px;
}

.autres-projets__header--right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 40px;
}

.autres-projets__header--name {
    font-size: 16px;
    margin-bottom: 7px;
}

.autres-projets__header--nickname {
    font-size: 14px;
    font-style: italic;
    margin-top: 0;
}


.autres-projets__content-img {
    width: 290px;
    height: 166px;
}

.autres-projets__content-title {
    position: relative;
    font-size: 20px;
    font-family: Flintstone;
    top: -80px;
    left: 10px;
    color: var(--dark-brown);
}

.white-title {
    color: white;
}