/* ==============================
   Les Polices
   ============================== */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Hanleth Sans Vintage';
    src: url('/assets/fonts/Hanleth\ sans\ vintage.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* ==============================
   Vendors (Bibliothèques externes)
   ============================== */
@import 'vendors/normalize.css';

/* ==============================
   Utils (Outils et fonctions utilitaires)
   ============================== */
@import 'utils/variables.css';
/* ==============================
   Base (Styles de base)
   ============================== */
@import 'base/main.css';
@import 'base/media.css';
/* ==============================
   Layouts (Mise en page)
   ============================== */
@import 'layout/header.css';
@import 'layout/footer.css';
@import 'layout/hero.css';
/* ==============================
   Components (Composants)
   ============================== */
@import 'components/menu.css';
@import 'components/section.css';

p {
    font-family: Raleway, sans-serif;
}